body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a85757;
}

.calculatrice {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    width: 200px;
    font-size: 16px;
}

.result {
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}

.result.positive {
    color: green;
}

.result.negative {
    color: orange;
}

.error-message {
    color: red;
    margin-top: 5px;
}

.error-input {
    border: 2px solid red;
}